.page-back-button {
  display: inline-flex;
  align-items: center;
  gap: 8rpx;
  min-height: 56rpx;
}

.page-back-button-icon {
  font-size: 48rpx;
  line-height: 1;
  font-weight: 500;
}

.page-back-button-text {
  font-size: 28rpx;
  line-height: 1;
}
